article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary
{
	display:block;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding 0;
}

#main_top {
	overflow: auto;
	height: 280px;
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -140px;
	margin-left: -150px;
	text-align: center;
}

#wrapper {
	position: relative;
	text-align: left;
	font-size: 1.5em;
	line-height: 1.5em;
}

#navi {
	width: 100%;
	height: 60px;
	z-index: 99;
	position: absolute;
}

#navi_wrap {
	width: 100%;
	height: 60px;
	z-index: 999;
	position: fixed;
	top: 0px;
	left: 0px;
	background: url(../img/header.jpg) top left repeat; 
}

#navi_wrap > nav {
	width: 940px;
	height: 60px;
	margin: 0 auto;
	background: url(../img/bg-navi.png) bottom left repeat-x;
}

#logo {
	display: block;
	float: left;
	z-index: 99;
	position: relative;
	left: -22px;
	height: 60px;
	width: 182px;
	/*text-indent: -9999em;*/
	/*background: url(../images/logo-rodesk.png) top left repeat;*/
	margin-right: 70px;
}

#menu_navi {
	margin: 0px;
	padding: 10px 0 0 0;
	list-style: none;
	height: 20px;
}

.menu_item {
	float: left;
	height: 20px;
	margin-right: 35px;
	list-style: none;
}

.menu_item > a {
	text-decoration: none;
	color: #555;

}

#about {
	width: 100%;
	min-width: 960px;
	min-height: 900px;
	margin: 0 auto;
	z-index: 99;
	background: url(../img/bg1.jpg) top left repeat;
}

#dj {
	width: 100%;
	min-width: 960px;
	min-height: 900px;
	margin: 0 auto;
	z-index: 99;
	background: url(../img/bg2.jpg) top left repeat;
}

#photo {
	width: 100%;
	min-width: 960px;
	min-height: 900px;
	margin: 0 auto;
	z-index: 99;
	background: url(../img/bg1.jpg) top left repeat;
}

